APP_BASE_URL=http://localhost:3000
APP_SITE_URL=http://localhost:3000
SERVER_BASE_URL=http://localhost:3000
SERVER_API_URL=http://127.0.0.1:8000

API_VERSION=v1

NUXT_PUBLIC_SITE_URL=site.com

GOOD_SERIAL=

NUXT_SECRET_KEY=

TELEGRAM_TOKEN=

MAINTENANCE_MODE=false

ROUTE_SECRET=
TIMEZONE=
